extends layout

block content
    h1=title
    br
    form(method='POST' action='/authenticate')
        div.form-group
            label(for='email') Email
            input#email.form-control(type='text' placeholder='Enter email or username' name='email' required='true')
        div.form-group
            label(for='password') Password
            input#password.form-control(type='password' placeholder='Enter Password' name='password' required='true')
        button.btn.btn-primary(type='submit') Log in
